<div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu" pageId="Gugal SERP provider API reference::////PointingToDeclaration//1745091852">
  <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;Gugal SERP provider API reference-nav-submenu&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="index.html"><span><span>Gugal</span></span> <span><span>SERP</span></span> <span><span>provider</span></span> <span><span>API</span></span> <span><span>reference</span></span></a></div>
  <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-0" pageId="Gugal SERP provider API reference::com.porg.gugal.data////PointingToDeclaration//1745091852">
    <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;Gugal SERP provider API reference-nav-submenu-0&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.gugal.data/index.html"><span>com.</span><wbr></wbr><span>porg.</span><wbr></wbr><span>gugal.</span><wbr></wbr><span>data</span></a></div>
    <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-0-0" pageId="Gugal SERP provider API reference::com.porg.gugal.data/BaseResult///PointingToDeclaration//1745091852">
      <div class="overview"><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.gugal.data/-base-result/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Base</span><wbr></wbr><span><span>Result</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-0-1" pageId="Gugal SERP provider API reference::com.porg.gugal.data/ImageResult///PointingToDeclaration//1745091852">
      <div class="overview"><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.gugal.data/-image-result/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Image</span><wbr></wbr><span><span>Result</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-0-2" pageId="Gugal SERP provider API reference::com.porg.gugal.data/Result///PointingToDeclaration//1745091852">
      <div class="overview"><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.gugal.data/-result/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span><span>Result</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-0-3" pageId="Gugal SERP provider API reference::com.porg.gugal.data/ResultMetadata///PointingToDeclaration//1745091852">
      <div class="overview"><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.gugal.data/-result-metadata/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Result</span><wbr></wbr><span><span>Metadata</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-0-4" pageId="Gugal SERP provider API reference::com.porg.gugal.data/ResultMetadataProduct///PointingToDeclaration//1745091852">
      <div class="overview"><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.gugal.data/-result-metadata-product/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Result</span><wbr></wbr><span>Metadata</span><wbr></wbr><span><span>Product</span></span></span></span></a></div>
    </div>
  </div>
  <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-1" pageId="Gugal SERP provider API reference::com.porg.gugal.providers////PointingToDeclaration//1745091852">
    <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;Gugal SERP provider API reference-nav-submenu-1&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.gugal.providers/index.html"><span>com.</span><wbr></wbr><span>porg.</span><wbr></wbr><span>gugal.</span><wbr></wbr><span>providers</span></a></div>
    <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-1-0" pageId="Gugal SERP provider API reference::com.porg.gugal.providers/DummySerp///PointingToDeclaration//1745091852">
      <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;Gugal SERP provider API reference-nav-submenu-1-0&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.gugal.providers/-dummy-serp/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Dummy</span><wbr></wbr><span><span>Serp</span></span></span></span></a></div>
      <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-1-0-0" pageId="Gugal SERP provider API reference::com.porg.gugal.providers/DummySerp.Companion///PointingToDeclaration//1745091852">
        <div class="overview"><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.gugal.providers/-dummy-serp/-companion/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon object"></span><span class="nav-link-child"><span><span>Companion</span></span></span></span></a></div>
      </div>
    </div>
    <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-1-1" pageId="Gugal SERP provider API reference::com.porg.gugal.providers/ProviderInfo///PointingToDeclaration//1745091852">
      <div class="overview"><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.gugal.providers/-provider-info/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Provider</span><wbr></wbr><span><span>Info</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-1-2" pageId="Gugal SERP provider API reference::com.porg.gugal.providers/SerpProvider///PointingToDeclaration//1745091852">
      <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;Gugal SERP provider API reference-nav-submenu-1-2&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.gugal.providers/-serp-provider/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon interface-kt"></span><span class="nav-link-child"><span>Serp</span><wbr></wbr><span><span>Provider</span></span></span></span></a></div>
      <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-1-2-0" pageId="Gugal SERP provider API reference::com.porg.gugal.providers/SerpProvider.Companion///PointingToDeclaration//1745091852">
        <div class="overview"><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.gugal.providers/-serp-provider/-companion/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon object"></span><span class="nav-link-child"><span><span>Companion</span></span></span></span></a></div>
      </div>
    </div>
  </div>
  <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-2" pageId="Gugal SERP provider API reference::com.porg.gugal.providers.exceptions////PointingToDeclaration//1745091852">
    <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;Gugal SERP provider API reference-nav-submenu-2&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.gugal.providers.exceptions/index.html"><span>com.</span><wbr></wbr><span>porg.</span><wbr></wbr><span>gugal.</span><wbr></wbr><span>providers.</span><wbr></wbr><span>exceptions</span></a></div>
    <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-2-0" pageId="Gugal SERP provider API reference::com.porg.gugal.providers.exceptions/InvalidCredentialException///PointingToDeclaration//1745091852">
      <div class="overview"><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.gugal.providers.exceptions/-invalid-credential-exception/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon exception-class"></span><span class="nav-link-child">
              <strike class="strikethrough"><span>Invalid</span><wbr></wbr><span>Credential</span><wbr></wbr><span><span>Exception</span></span></strike>
            </span></span></a></div>
    </div>
    <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-2-1" pageId="Gugal SERP provider API reference::com.porg.gugal.providers.exceptions/SearchException///PointingToDeclaration//1745091852">
      <div class="overview"><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.gugal.providers.exceptions/-search-exception/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon exception-class"></span><span class="nav-link-child">
              <strike class="strikethrough"><span>Search</span><wbr></wbr><span><span>Exception</span></span></strike>
            </span></span></a></div>
    </div>
    <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-2-2" pageId="Gugal SERP provider API reference::com.porg.gugal.providers.exceptions/SerpProviderException///PointingToDeclaration//1745091852">
      <div class="overview"><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.gugal.providers.exceptions/-serp-provider-exception/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon exception-class"></span><span class="nav-link-child">
              <strike class="strikethrough"><span>Serp</span><wbr></wbr><span>Provider</span><wbr></wbr><span><span>Exception</span></span></strike>
            </span></span></a></div>
    </div>
  </div>
  <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-3" pageId="Gugal SERP provider API reference::com.porg.gugal.providers.responses////PointingToDeclaration//1745091852">
    <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;Gugal SERP provider API reference-nav-submenu-3&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.gugal.providers.responses/index.html"><span>com.</span><wbr></wbr><span>porg.</span><wbr></wbr><span>gugal.</span><wbr></wbr><span>providers.</span><wbr></wbr><span>responses</span></a></div>
    <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-3-0" pageId="Gugal SERP provider API reference::com.porg.gugal.providers.responses/ErrorResponse///PointingToDeclaration//1745091852">
      <div class="overview"><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.gugal.providers.responses/-error-response/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Error</span><wbr></wbr><span><span>Response</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-3-1" pageId="Gugal SERP provider API reference::com.porg.gugal.providers.responses/InvalidCredentialResponse///PointingToDeclaration//1745091852">
      <div class="overview"><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.gugal.providers.responses/-invalid-credential-response/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Invalid</span><wbr></wbr><span>Credential</span><wbr></wbr><span><span>Response</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-3-2" pageId="Gugal SERP provider API reference::com.porg.gugal.providers.responses/NoResultsResponse///PointingToDeclaration//1745091852">
      <div class="overview"><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.gugal.providers.responses/-no-results-response/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>No</span><wbr></wbr><span>Results</span><wbr></wbr><span><span>Response</span></span></span></span></a></div>
    </div>
  </div>
  <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-4" pageId="Gugal SERP provider API reference::com.porg.m3////PointingToDeclaration//1745091852">
    <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;Gugal SERP provider API reference-nav-submenu-4&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.m3/index.html"><span>com.</span><wbr></wbr><span>porg.</span><wbr></wbr><span>m3</span></a></div>
    <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-4-0" pageId="Gugal SERP provider API reference::com.porg.m3//MainSwitch/#kotlin.String#kotlin.Boolean#kotlin.Function1[kotlin.Boolean,kotlin.Unit]?/PointingToDeclaration//1745091852">
      <div class="overview"><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.m3/-main-switch.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon function"></span><span class="nav-link-child"><span>Main</span><wbr></wbr><span><span>Switch()</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-4-1" pageId="Gugal SERP provider API reference::com.porg.m3//SetupPaddingModifier/#/PointingToDeclaration//1745091852">
      <div class="overview"><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.m3/-setup-padding-modifier.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon val"></span><span class="nav-link-child"><span>Setup</span><wbr></wbr><span>Padding</span><wbr></wbr><span><span>Modifier</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-4-2" pageId="Gugal SERP provider API reference::com.porg.m3//Tip/#kotlin.String#androidx.compose.ui.Modifier#kotlin.Int#kotlin.Function0[kotlin.Unit]?/PointingToDeclaration//1745091852">
      <div class="overview"><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.m3/-tip.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon function"></span><span class="nav-link-child"><span><span>Tip()</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-4-3" pageId="Gugal SERP provider API reference::com.porg.m3//TwoButtons/#kotlin.Function0[kotlin.Unit]#kotlin.String#kotlin.Function0[kotlin.Unit]?#kotlin.String#kotlin.Boolean#kotlin.Boolean/PointingToDeclaration//1745091852">
      <div class="overview"><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.m3/-two-buttons.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon function"></span><span class="nav-link-child"><span>Two</span><wbr></wbr><span><span>Buttons()</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-4-4" pageId="Gugal SERP provider API reference::com.porg.m3//TwoButtonsRaw/#kotlin.Function0[kotlin.Unit]#kotlin.String#kotlin.Function0[kotlin.Unit]?#kotlin.String#kotlin.Boolean#kotlin.Boolean#androidx.compose.ui.Modifier/PointingToDeclaration//1745091852">
      <div class="overview"><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.m3/-two-buttons-raw.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon function"></span><span class="nav-link-child"><span>Two</span><wbr></wbr><span>Buttons</span><wbr></wbr><span><span>Raw()</span></span></span></span></a></div>
    </div>
  </div>
  <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-5" pageId="Gugal SERP provider API reference::com.porg.m3.settings////PointingToDeclaration//1745091852">
    <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;Gugal SERP provider API reference-nav-submenu-5&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.m3.settings/index.html"><span>com.</span><wbr></wbr><span>porg.</span><wbr></wbr><span>m3.</span><wbr></wbr><span>settings</span></a></div>
    <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-5-0" pageId="Gugal SERP provider API reference::com.porg.m3.settings//CheckboxSetting/#kotlin.Int#kotlin.Int#kotlin.Function1[kotlin.Boolean,kotlin.Unit]#kotlin.Boolean#androidx.compose.ui.Modifier/PointingToDeclaration//1745091852">
      <div class="overview"><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.m3.settings/-checkbox-setting.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon function"></span><span class="nav-link-child"><span>Checkbox</span><wbr></wbr><span><span>Setting()</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-5-1" pageId="Gugal SERP provider API reference::com.porg.m3.settings//PreviewChip/#/PointingToDeclaration//1745091852">
      <div class="overview"><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.m3.settings/-preview-chip.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon function"></span><span class="nav-link-child"><span>Preview</span><wbr></wbr><span><span>Chip()</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-5-2" pageId="Gugal SERP provider API reference::com.porg.m3.settings//RadioSetting/#kotlin.Int#kotlin.Int#kotlin.Function0[kotlin.Unit]#kotlin.Boolean#androidx.compose.ui.Modifier/PointingToDeclaration//1745091852">
      <div class="overview"><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.m3.settings/-radio-setting.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon function"></span><span class="nav-link-child"><span>Radio</span><wbr></wbr><span><span>Setting()</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-5-3" pageId="Gugal SERP provider API reference::com.porg.m3.settings//RegularPreviewSetting/#kotlin.String#kotlin.String#kotlin.Function0[kotlin.Unit]/PointingToDeclaration//1745091852">
      <div class="overview"><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.m3.settings/-regular-preview-setting.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon function"></span><span class="nav-link-child"><span>Regular</span><wbr></wbr><span>Preview</span><wbr></wbr><span><span>Setting()</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-5-4" pageId="Gugal SERP provider API reference::com.porg.m3.settings//RegularSetting/#kotlin.Int#kotlin.Int#kotlin.Function0[kotlin.Unit]/PointingToDeclaration//1745091852">
      <div class="overview"><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.m3.settings/-regular-setting.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon function"></span><span class="nav-link-child"><span>Regular</span><wbr></wbr><span><span>Setting()</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-5-5" pageId="Gugal SERP provider API reference::com.porg.m3.settings//SettingsDividerPadding/#/PointingToDeclaration//1745091852">
      <div class="overview"><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.m3.settings/-settings-divider-padding.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon val"></span><span class="nav-link-child"><span>Settings</span><wbr></wbr><span>Divider</span><wbr></wbr><span><span>Padding</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-5-6" pageId="Gugal SERP provider API reference::com.porg.m3.settings//SettingsPadding/#/PointingToDeclaration//1745091852">
      <div class="overview"><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.m3.settings/-settings-padding.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon val"></span><span class="nav-link-child"><span>Settings</span><wbr></wbr><span><span>Padding</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-5-7" pageId="Gugal SERP provider API reference::com.porg.m3.settings//SettingsTitle/#kotlin.String/PointingToDeclaration//1745091852">
      <div class="overview"><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.m3.settings/-settings-title.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon function"></span><span class="nav-link-child"><span>Settings</span><wbr></wbr><span><span>Title()</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="Gugal SERP provider API reference-nav-submenu-5-8" pageId="Gugal SERP provider API reference::com.porg.m3.settings//ToggleSetting/#kotlin.Int#kotlin.Int#kotlin.Function1[kotlin.Boolean,kotlin.Unit]#kotlin.Boolean/PointingToDeclaration//1745091852">
      <div class="overview"><a href="-gugal -s-e-r-p provider -a-p-i reference/com.porg.m3.settings/-toggle-setting.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon function"></span><span class="nav-link-child"><span>Toggle</span><wbr></wbr><span><span>Setting()</span></span></span></span></a></div>
    </div>
  </div>
</div>

